<div class="container">
	<div class="row">
		<div class="col-md-4">
			<table class="table table-hover">
						<tr>
							<td><%= @end_user.name %></td>
						</tr>
						<tr>
							<td><%= @end_user.birth_date %></td>
						</tr>
						<tr>
							<td class="follow-button"><%= render 'end_users/relationships/follow', end_user: @end_user %></td>
						</tr>
						<tr>
							<td>
								<%= link_to following_end_user_path(@end_user), class: "text-dark	" do %>
									フォロー数 <%= @end_user.followings.count %>人
								<% end %>
							</td>
							<td>
								<%= link_to follower_end_user_path(@end_user), class: "text-dark" do %>
									フォロワー数 <%= @end_user.followers.count %>人
								<% end %>
							</td>
						</tr>
						<tr>
							<td><%= link_to mylist_path(@end_user), class: "text-dark" do %>
									<%= @end_user.name %>のMyListをみる
								<% end %>
							</td>
						</tr>
						<tr>
							<td>
								<%= link_to "プロフィール編集", edit_end_user_registration_path, class: "text-dark" %>
							</td>
						</tr>
						</ul>
			</table>
		</div>
	</div>
</div>