<div class="container">
  <div class="row">
    <div class="mx-auto">


    <h2>アカウント登録</h2>
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "end_users/shared/error_messages", resource: resource %>
    
      <div class="field">
        <%= f.label :name, "名前" %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "名前" %>
      </div>
    
      <div class="field">
        <%= f.label :name_kana, "ナマエ" %><br />
        <%= f.text_field :name_kana, autocomplete: "ナマエ" %>
      </div>
    
      <div class="field">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autocomplete: "email" %>
      </div>
      
      <div class="field">
        <%= f.label :telephone_number, "電話番号" %><br />
        <%= f.number_field :telephone_number, autocomplete: "電話番号" %>
      </div>
      
      <div class="field">
        <%= f.label :nickname, "ニックネーム（ほかのユーザーに公開されます）" %><br />
        <%= f.text_field :nickname, autocomplete: "ニックネーム" %>
      </div>
      
      <div class="field">
        <%= f.label :birth_date, "生年月日（13歳未満の方は利用できません。）" %><br />
        <%= f.date_select :birth_date, use_month_numbers: true,start_year: 1900, end_year: (Time.now.year - 13), default: Date.new(2000, 1, 1) %>
      </div>
      <div class="field">
        <%= f.label :sex, "性別" %><br />
        <%= f.label :male, "男性" %>
        <%= f.radio_button :sex, :male %>
        <%= f.label :female, "女性" %>
        <%= f.radio_button :sex, :female %>
        <%= f.label :other, "その他" %>
        <%= f.radio_button :sex, :other %>
      </div>
      
    
      <div class="field">
        <%= f.label :password, "パスワード" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
    
      <div class="field">
        <%= f.label :password_confirmation, "パスワード（確認）" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <br>
    
      <div class="actions">
        <%= f.submit "MyMusicを始める！", class:"btn btn-outline-danger" %>
      </div>
      <br>
    <% end %>
    <%= render "end_users/shared/links" %>
    </div>
  </div>
</div>
<br><br><br><br><br><br>


